.elementBody:hover{ 
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.2);
  cursor: pointer;
  border-radius: 10px;
 }

.elementName::before{
  content: '';
  width: 20px;
  height: 5px;
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  border-radius: 4px;
}

.Entertainment::before{
  background-color: orange;
}

.Car::before{
  background-color: blue;
}

.Food::before{
  background-color: green;
}